{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container-fluid my-1 px-0"> 
  <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/3.jfif.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/2.jfif.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/1.jfif.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>

<div class="container my-3">
  <h1 class="my-4 text-center">These are some pictures!</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/random/1200x900/?nature " class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Nature - 1</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/random/1200x900/?moon " class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Nature - 3</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/random/1200x900/?woods " class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Nature - 3</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/random/1200x900/?river " class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Nature - 4</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://source.unsplash.com/random/1200x900/?water " class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Nature - 5</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




{% endblock body %}


